.myclass {
    background-color: rgba(0, 0, 0, 0);
    bottom: 0px;
    position: fixed;
    z-index: 99999;
    pointer-events: none;
}

.myclass>img {
    width: 300px;
    aspect-ratio: 1/1;
    transition: all 0.3s;
}